.git
.github
.idea
.vscode
*.log
*.tmp
*.swp
*.swo
Dockerfile
docker-compose.yml
docker-compose.yaml
compose.override.yml
node_modules
vendor
vosk
stt
whisper.cpp
vector-cloud/build
chipper/session-certs
chipper/jdocs
chipper/apiConfig.json
chipper/botConfig.json
chipper/customIntents.json
chipper/pico.key
chipper/useepod
chipper/source.sh
.env
