/stt
/vector-cloud/build/vic-cloud
/chipper/source.sh
/vector-cloud/build
/vector-cloud/boot-anim/*.raw
/vector-cloud/boot-anim/config.sh
/chipper/chipper
/certs
/vector-cloud/packagesGotten
/vector-cloud/cloud/cert.go
/chipper/aarch64
/chipper/armarch
/chipper/processOnce
/ssh_root_key
/.vscode
/chipper/.vscode
/chipper/useepod
/chipper/pico.key
