/stt
/vector-cloud/build/vic-cloud
/chipper/source.sh
/vector-cloud/build
/chipper/chipper
/certs
/vector-cloud/packagesGotten
/vector-cloud/cloud/cert.go
/chipper/aarch64
/chipper/armarch
/chipper/processOnce
/ssh_root_key
/.vscode
/chipper/botConfig.json
/chipper/.vscode
/chipper/useepod
/chipper/pico.key
/chipper/libvosk.so
/vosk
/chipper/customIntents.json
/chipper/botConfig.json
/chipper/jdocs/*.json
/chipper/nvm
/chipper/apiConfig.json
/chipper/session-certs/0*
/chipper/vbuild/vic-toolchain
/chipper/vbuild/chipper
/chipper/vbuild/botpack.tar.gz
/chipper/windows/tmp
/chipper/windows/chipper.exe
/chipper/windows/*.zip
/chipper/windows/*.exe
/chipper/vbuild/built-libs
/chipper/windows/libs
/chipper/windows/opus
/chipper/windows/ogg
/chipper/windows/.aptDone
/chipper/macos/libs
/chipper/macos/target
/chipper/plugins/*.so
/whisper.cpp
.DS_Store
/chipper/openaiChats.json
