@import url("wing.css");

@font-face{ 
	font-family: 'DroidSans';
	src: url('DroidSans.woff') format('woff');
	/*font license Apache V2.00: https://www.fontsquirrel.com/license/droid-sans*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

button:disabled {
    background: #F5F5F5;
    color : #C3C3C3;
}
button {
	width: 170px;
	margin-left: 168px !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: black;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "DroidSans";
}

h1, h2, h3, h4, small, p, li {
  color: white;
}



p, small {
}

.wrap {
overflow: hidden !important;
white-space: nowrap !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

a {
  color:aqua;
}
a:hover {
	text-decoration: none;
	color: aqua;
}

ul {
	list-style-type:none;
}

ul, li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }

.tinput {
	width: 100px !important;
	background-color: #4B4B4B !important;
	color: #ffffff !important;
}

.tinputauth {
	width: 499px !important;
	background-color: #4B4B4B !important;
	color: #ffffff !important;
}

#username, #password {
	width: 499px !important;
	background-color: #4B4B4B !important;
	color: #ffffff !important;
}

#content {
	width: 500px !important;
    /*word-break:break-all !important;*/
	/*word-wrap: break-all !important;*/
    white-space:normal !important;
}
#outer {
	width: 100%;
	display: flex;
    justify-content: center;
}