@import url("wing.css");

@font-face{ 
  font-family: 'DroidSans';
  src: url('DroidSans.woff') format('woff');
  /*font license Apache V2.00: https://www.fontsquirrel.com/license/droid-sans*/
}

@font-face{ 
  font-family: 'IBMVGA';
  src: url('PxPlus_IBM_VGA_8x16.ttf') format('truetype');
  /* VileR's old school font pack - int10h.org */
}

@font-face{ 
  font-family: 'H1Weird';
  src: url('h1Font.ttf') format('truetype');
}

/* {
  "TIP_OVER_TEAL" :
  #00d16d
    { "Hue" : 0.42, "Saturation" : 1.00 },
  "OVERFIT_ORANGE" :
    { "Hue" : 0.05, "Saturation" : 0.95 },
  "UNCANNY_YELLOW" :
    { "Hue" : 0.11, "Saturation" : 1.00 },
  "NON_LINEAR_LIME" :
    { "Hue" : 0.21, "Saturation" : 1.00 },
  "SINGULARITY_SAPPHIRE" :
    { "Hue" : 0.57, "Saturation" : 1.00 },
  "FALSE_POSITIVE_PURPLE" :
  #e237e6
    { "Hue" : 0.83, "Saturation" : 0.76 },
  "CONFUSION_MATRIX_GREEN" :
    { "Hue" : 0.30, "Saturation" : 1.00 }
} */

:root {
  --bg-color: #1e1e1e;
  --body-font-family: 'DroidSans', sans-serif;
  --bg-color-alt: rgba(196,196,196,1);		/* light gray #C4C4C4*/
  --button-color: rgba(75,75,75,1);		/* dark gray #4B4B4B */
  --button-color-alt: rgba(164,164,164,1);	/* light gray #A4A4A4 */
  --fg-color: #00ff80;	        /* light green 33ED6D */
  --fg-color-alt: rgba(51,237,109,.05);		/* light green 33ED6D */
  --text-color: rgba(255,255,255,1);		/* white #FFFFFF */
  --text-color-alt: rgba(34,34,34,1);		/* black #000000 */
}

.selectedicon {
  color: var(--fg-color);
}

.notselectedicon {
  color: var(--bg-color-alt);
}

.dropdown {
  position: relative;
  display: inline-block;
}

button:disabled, button[type="submit"]:disabled {
  background: var(--bg-color);
  color : var(--bg-color-alt);
}
button, button[type="submit"] {
  font-family: var(--body-font-family);
  font-size: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 170px;
  border: 2px solid var(--fg-color);
  background-color: var (--button-color);
  color: var(--text-color);
  transition: border-color 0.3s, background-color 0.3s;
}

button:hover, button[type="submit"]:disabled {
  border-color: var(--fg-color-alt);
  background-color: var(--fg-color);
  color: var(--text-color-alt);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--fg-color-alt);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type="text"], input[type="file"], select {
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: var(--body-font-family);
  font-size: 1.0em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid var(--fg-color); 
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:hover, input[type="file"]:hover, select:hover,
input[type="text"]:focus, input[type="file"]:focus, select:focus {
  border-color: white; 
  border: 2px solid; 
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type='text']:disabled {
  cursor: not-allowed;
}

.small-hr {
  border: 1px solid #3e3e3e;
  width: 30%;
}

.log-hr {
  margin-bottom: 50px;
}

input[type="file"] {
  width: auto;
}

/* input[type="text"] {
  width: ;
} */

select {
  width: auto;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-font-family);
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-wrap: wrap;
  text-align: center;
}


h1, h2, h3, h4, small, p, li, label {
  font-family: var(--body-font-family);
  color: var(--text-color);
}

h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.desc {
  color: var(--bg-color-alt);
}

h1 {
  color: var(--fg-color);
  font-family: "H1Weird", sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: center;
}

textarea {
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: var(--body-font-family);
  font-size: 0.9em;
  height: 280px;
  border: 2px solid var(--fg-color); 
  box-sizing: border-box;
  transition: border-color 0.3s;
}

textarea:hover, textarea:focus {
  border-color: white; 
}

/* p {
  font-size: 1.2em;
} */

.content {
  display: none;
}

.wrap {
  overflow: hidden !important;
  white-space: nowrap !important;
}

hr {
  border: 2px solid #3e3e3e;
  /* background-image: linear-gradient(to right, var(--fg-color-alt), var(--fg-color), var(--fg-color-alt)); */
}

a {
  color:var(--fg-color);
}
a:hover {
  text-decoration: none;
  color: var(--fg-color);
}
/* 
ul {
  list-style-type:none;
} */

ul, li {
  /* list-style-type: none; */
  list-style-position:inside;
  margin:0;
  padding:0;
}

.tinput {
  width: 315px !important;
  background-color: var(--button-color) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--fg-color); /* accent color */
}

.tinputauth {
  width: 499px !important;
  background-color: var(--button-color) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--fg-color); /* accent color */
}

canvas{
  width:750px !important;
  height:400px !important;
}

/* RADIO BUTTON ######################### */
input[type='radio'] {
  appearance: none;
  top: 13.333333px;
  right: 50%;
  bottom: 0px;
  left: 0;
  margin-top: 0px;
  height: 40px;
  width: 40px;
  transition: all .2s ease;
  background: var(--button-color);
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 50%;
  border: 1px solid var(--button-color-alt);
}

input[type='radio']:checked:after {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--fg-color);
  content: '';
  display: inline-block;
}

input[type='radio']:disabled {
  cursor: not-allowed;
}

input[type='radio']:disabled:after {
  background-color: var(--button-color-alt);
  cursor: not-allowed;
}

/* ###################################### */
#username, #password {
  width: 499px !important;
  background-color: var(--bg-color-alt) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--fg-color); /* accent color */
}

#content {
  width: 950px !important;
  /* word-break:break-all !important; */
  /* word-wrap: break-all !important; */
  white-space:normal !important;
}
#outer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh; /* Keeps things at the top*/
  align-items: start;
}

.main-nav-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
  margin: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.main-nav-child {
  display: inline-block;
  /*border: 1px solid white;*/
  padding: 1.2rem 2rem 1.4rem 0rem;
  vertical-align: top;
  width: 85px;
}

.main-nav-child a {
  text-decoration: none;
  font-size: 100%;
  color: var(--bg-color-alt);
}

.main-nav-child a:hover {
  color: var(--text-color);
}

.main-nav-child a i {
  text-decoration: none;
  font-size: 60px;
  /*padding-left: 20px;
  padding-right: 20px;*/
  padding-bottom: 10px;
}

.main-nav-child a img {
  width:50%;
}

input[type='checkbox'] {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: var(--button-color);
  border: 2px solid var(--fg-color); /* accent color */
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle; 
}

input[type='checkbox']:checked {
  background-color: var(--fg-color);
}

input[type='checkbox']:checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.checkbox-label {
  padding-top: 3px;
  margin-left: 5px;
  word-break: break-word;
}
