@import url("wing.css");

@font-face{ 
	font-family: 'DroidSans';
	src: url('DroidSans.woff') format('woff');
	/*font license Apache V2.00: https://www.fontsquirrel.com/license/droid-sans*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

button:disabled {
    background: #F5F5F5;
    color : #C3C3C3;
}
button {
	width: 170px;
	margin-left: 315px !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: black;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "DroidSans";
}

h1, h2, h3, h4, small, p, li, label {
  color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

p, small {
}

.content {
  display: none;
}

.wrap {
overflow: hidden !important;
white-space: nowrap !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

a {
  color:aqua;
}
a:hover {
	text-decoration: none;
	color: aqua;
}

ul {
	list-style-type:none;
}

ul, li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }

.tinput {
	width: 100px !important;
	background-color: #4B4B4B !important;
	color: #ffffff !important;
}

.tinputauth {
	width: 499px !important;
	background-color: #4B4B4B !important;
	color: #ffffff !important;
}

#username, #password {
	width: 499px !important;
	background-color: #4B4B4B !important;
	color: #ffffff !important;
}

#content {
	width: 800px !important;
    /*word-break:break-all !important;*/
	/*word-wrap: break-all !important;*/
    white-space:normal !important;
}
#outer {
	width: 100%;
	display: flex;
    justify-content: center;
}

.main-nav-parent {
    /*border: 1px solid black;*/
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.main-nav-child {
    display: inline-block;
    /*border: 1px solid white;*/
    padding: 0rem 0rem 2rem 0rem;
    vertical-align: top;
    width: 85px;
}

.main-nav-child a {
    text-decoration: none;
    font-size: 75%;
    color: #c3c3c3;
}

.main-nav-child a:hover {
    color: white;
}

.main-nav-child a i {
    text-decoration: none;
    font-size: 60px;
    /*padding-left: 20px;
    padding-right: 20px;*/
    padding-bottom: 10px;
}

.main-nav-child a img {
    width:50%;
}
